.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}

#bob {
    width: 55px;
    height: 55px;
    background-image: url(img/spongebob.png);
    background-size: 55px 55px;
    position: relative;
    top: 140px;
}

#seaweed {
    width: 20px;
    height: 40px;
    background-image: url(img/seaweed.png);
    background-size: 20px 40px;
    position: relative;
    top: 105px;
    left: 580px;
    animation: seaweedMove 1s infinite linear;
}

@keyframes seaweedMove {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 140px;
    }

    25% {
        top: 110px;
    }

    50% {
        top: 80px;
    }

    75% {
        top: 110px;
    }

    100% {
        top: 140px;
    }
}